<div class="select form-row">
  <div class="select-header">
    <input type="text" ng-model="selectedOption" ng-change="filterOptionsFn()" placeholder="{{placeHolder}}" ng-focus="showOptions = true" ng-blur="hideOptionsFn()"/>
    <button type="button"  ng-click="toggleOptionsFn()">
      <i class="drop-arrow"></i>
    </button>
  </div>
  <div class="select-options" ng-show="showOptions">
    <ul>
      <li ng-repeat="option in filteredOptions">
        <a ng-click="selectOptionFn(option)">{{option}}</a>
      </li>
    </ul>
  </div>
<div>
