<div class="select">
  <div class="select-header">
    <input type="text" ng-model="selectedOption"  ng-change="filterOptions()" placeholder="{{placeHolder}}" ng-focus="showOptions = true" ng-blur="showOptions = false">
    <button type="button"  ng-click="showOptions = !showOptions">
      <i class="drop-arrow"></i>
    </button>
  </div>
  <div class="select-options" ng-show="showOptions">
    <ul>
      <li ng-repeat="option in options">
        <a ng-click="selectOption(option)">{{option}}</a>
      </li>
    </ul>
  </div>
<div>
